header{
    @include flexCenter( column, rgb(161, 1, 1));

    background-color:  rgb(122, 222, 255); 
    
    button{
        background: $primaryBtn;}
        
        &:hover{
            background: rgb(1, 1, 121);
        }
 
        &::after{
            content: "hello my friend!";
        }
         
        .contact button{
             background: $primaryBtn;
         }
     }
 